html,
body {
  margin: 0 !important;
  padding: 0;
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* max-width: 80rem; */
  /* margin: 0 auto; */
}

.choice-container {
  display: flex;
  margin: 0;
  margin-bottom: 0.5rem;
  width: 100%;
  font-size: 1.2rem;
  border: 0.1rem solid rgb(86, 165, 235, 0.25);
  height: 7rem;
}

.choice-container:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
  transform: translate(-0.1rem);
  transition: transform 150ms;
}
.choice-prefix {
  padding: 2.5rem;
  background-color: #56a5eb;
  /* color: white; */
  /* height: 100%; */
}

.choice-text {
  padding: 1.5rem;
  width: 100%;
  margin: 0;
}

.correct {
  background-color: #28a745;
  /* bg-success */
}

.incorrect {
  background-color: #dc3545;
  /* bg-danger */
}

/* score counter */
.hud-prefix {
  font-size: 2rem;
  padding: 0;
}

#progressBar {
  /* width: 20rem; */
  height: 4rem;
  border: 0.3rem solid #56a5eb;
  border-radius: 15px;
}

#progressBarFull {
  height: 3.4rem;
  background-color: #56a5eb;
  width: 0%;
}

.min-width-50 {
  min-width: 50%;
}

/* FORMS  */
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  margin-bottom: 1rem;
  width: 20rem;
  padding: 1.3rem;
  font-size: 1.8rem;
  box-shadow: 0 0.1rem 1.4rem 0 rgba(86, 185, 235, 0.5);
  border-radius: 10px;
}

input::placeholder {
  color: #aaa;
}

.high-score {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}

.high-score:hover {
  transform: scale(1.025);
}
